@media only screen and (min-width: 1455px)
{/*This is for big screen*/
	.menu a{padding:15px;background-color:#000000; color:#FFFFFF;}
	.menu ul{list-style-type:none;}
	.menu a{text-decoration:none;}
	.menu li{display:inline;}
	.menu a:hover{background-color:#7A991A;}
	.menu {padding: 15px 0px 0px 0px;}
}

 @media only screen and (max-width: 1454px) and (min-width: 865px)  
{/*This is for medium windows*/
	.menu a{padding:15px;background-color:#000000; color:#FFFFFF;}
	.menu ul{list-style-type:none;}
	.menu a{text-decoration:none;}
	.menu li{display:inline;}
	.menu a:hover{background-color:#7A991A;}
	.menu {padding: 15px 0px 0px 0px;}
}

@media only screen and (max-width: 864px)  
{/*This is for small windows*/
	.menu a{padding:5px;background-color:#000000; color:#FFFFFF;}
	.menu ul{list-style-type:none;}
	.menu a{text-decoration:none;}
	.menu li{display:inline;}
	.menu a:hover{background-color:#7A991A;}
	.menu {padding: 10px 0px 0px 0px;}
}
/*Above is Css for the menu*/


.box{box-shadow:5px 5px 5px #828282; margin: 50px;
		background-color:#FFFFFF; height:145vh;
			opacity: 0.9;font-family:monotype corsiva;}

#writing {text-align:center;}
#List ul{list-style-type:none;}
#List a{text-decoration:none;}
/*End of Home page CSS*/

